body{
   
   background-color:rgb(217, 217, 217);
}

.head{
    display: flex;
    background-color:black

}
.logo{
    width:100px;
    height:100px
}
.nav{
    margin-top: 40px;
    margin-left: 450px;
    justify-content: center;
    
}
.nav a{
    text-decoration: none;
   font-size: 20px;
   margin-right: 15px;
   color:white;
}
.body1{
    margin-left: 100px;
    margin-right: 100px;
}
.main{
    
    width:82vw;
    height: 70vh;
}
.welcome ,.services{
    margin-top: 20px;
    width:300px;
    height:250px;
    background-color:black;
    color:white;
   
}
.welcome p,.services ul{
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    color:white;
    font-size:17px;
}
.welcome h1,.services h1{
    margin-left: 75px;
    padding-top: 10px;
}
.welcome button,.services button{
    margin-left: 95px;
    padding: 5px;
    font-size:17px;
    background-color: aliceblue;
    margin-top: 10px;
}
.services{
    margin-top:-270px;
    margin-left: 350px;
}
#about{
margin-left: 700px;
margin-top:-270px;
}
.left{
    width:700px
}
.right img{
    margin-left: 700px;
    height:200px;
    width:50vh;
    height:40vh;
    
}
.right{
    margin-top: -45vh;
}
.head2{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color:black;
    height: 100px;
    color:white;

}
.head2 h4{
    margin-left: 100vh;
    margin-top:2px;

}
.head2 p{
    font-size: 15px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    margin-top:-10px;
}
